* {
    
    margin: 0;
}

header {
    padding: 1%;
}

main {
    margin-left: 1%;
    margin-right: 1%;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    color: rgb(255, 0, 0);
    font-family: Arial, sans-serif;
}

h1 {
    padding: 1%;
    text-align: center;
}

p {
    text-align: justify;
    padding: 2%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 60%;
}

table, th, td {
    border:1px solid black;
}

h3 {
    padding: 3%;
}

.flex-container {
    display: flex;
    justify-content: center;
    background-color: royalblue;
    padding: 10px;
}
  
.flex-container > div {
    background-color: blue;
    min-width: 100px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    font-size: 30px;
}

@media screen and (max-width: 950px) {
    .flex-container {
        display: block;
    }
    .flex-container > div {
        display:inline-flex;
        text-align: center;
        align-items: center;
    }
}

footer {
    background-color: aquamarine;
    text-align: center;

}

small {
    background-color: aquamarine;
    display: inline-block;
    padding: 0.2%;
}